<template>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">留言板</h1>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">留言列表</h3>

                        <div class="card-tools">
                            <div class="row">
                                <div class="input-group input-group-sm" style="padding-right: 10px">
                                    <button type="button" class="btn btn-outline-primary" @click="createMessage"
                                            data-toggle="modal" data-target="#messageModal">
                                        新增留言 <i class="fas fa-scroll fa-fw"></i>
                                    </button>
                                </div>
                            </div>
                        </div>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <table class="table table-hover">
                            <thead>
                            <tr>
                                <th width="30%">標題</th>
                                <th width="45%">內容</th>
                                <th width="25%">留言者信箱</th>
                            </tr>
                            </thead>
                            <tbody>
                            <tr v-for="message in messages.data" :key="message.id">
                                <td style="overflow: hidden;text-overflow: ellipsis;white-space: nowrap;max-width: 170px;">
                                    {{ message.title }}
                                </td>
                                <td>{{ message.content }}</td>
                                <td>{{ message.creator.email }}</td>
                            </tr>
                            </tbody>
                        </table>
                    </div>
                    <!-- /.card-body -->
                    <div class="card-footer">
                        <pagination :data="messages" :show-disabled="true" :limit="2"
                                    @pagination-change-page="getMessages"></pagination>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Message",
        data() {
            return {
                title: "留言列表",
                messages: {},
                form: new Form({
                    id: '',
                    title: '',
                    content: ''
                })
            }
        },
        methods: {
            getMessages(page = 0) {
                axios.get('api/message?page=' + page)
                    .then((res) => {
                        this.messages = res.data.messages;
                    });
            },
            createMessage() {
                this.$router.push('/new-message');
            },
        },
        created() {
            this.getMessages();
        }
    }
</script>