<template>
    <div class="container-fluid">
        <div class="row justify-content-center">
            <div class="col-md-12">
                <div class="col-sm-6">
                    <h1 class="m-0 text-dark">新增留言</h1>
                </div>
                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">新增留言</h3>
                    </div>
                    <!-- /.card-header -->
                    <div class="card-body table-responsive p-0">
                        <form @submit.prevent="createMessages()">
                            <div class="modal-body">
                                <div class="form-group">
                                    <label for="title">標題</label>
                                    <input id="title" v-model="form.title" type="text" placeholder="標題"
                                           class="form-control" :class="{ 'is-invalid': form.errors.has('title') }">
                                    <has-error :form="form" field="title"></has-error>
                                </div>
                                <div class="form-group">
                                    <label for="content">內容</label>
                                    <textarea id="content" v-model="form.content" type="text" placeholder="內容"
                                              class="form-control" :class="{ 'is-invalid': form.errors.has('content') }">
                                </textarea>
                                    <has-error :form="form" field="content"></has-error>
                                </div>
                            </div>
                            <div class="modal-footer">
                                <button type="button" class="btn btn-secondary" @click="backHome">返回</button>
                                <button type="submit" class="btn btn-primary">送出</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>

<script>
    export default {
        name: "Message",
        data() {
            return {
                title: "留言列表",
                messages: {},
                form: new Form({
                    id: '',
                    title: '',
                    content: ''
                })
            }
        },
        methods: {
            createMessages() {
                this.form.post('api/message')
                    .then((res) => {
                        console.log(res.data);
                        if (!res.data.error) {
                            this.$router.push('/');
                            Toast.fire({
                                type: 'success',
                                title: res.data.messages[0]
                            });
                        } else {
                            Toast.fire({
                                type: 'error',
                                title: res.data.messages[0]
                            });
                        }
                    })
            },
            backHome() {
                this.$router.push('/');
            }
        }
    }
</script>